* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(225, 225, 225);
}

.content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
}

.question_box {
  display: none;
}

.show {
  display: block !important;
}

.result {
  display: none;
}

.question_option {
  display: block;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0 0 0;
  text-align: center;
  background-color: aliceblue;
  border-radius: 0.5rem;
  border: 1px solid #e4e4e4;
  transition: all ease-in-out 0.2s;
}

.question_option:hover {
  background-color: rgb(231, 238, 245);
  cursor: pointer;
}